.product-detail {
    display: flex;
    margin-top: 50px;
}

.select-material {
    display: flex;
    gap: 20px;
}

.select-size {
    display: flex;
    gap: 55px;
}

.select-quantity {
    display: flex;
    gap: 20px;
}

.button-buy {
    display: flex;
    justify-content: center;
}
.ant-btn{
    padding-left: 250px !important;
    padding-right: 250px !important;
}

.header-productinfo {
    color: #38A9B8;
    font-weight: bold;
    border-bottom: 2px solid #38A9B8;
    padding-bottom: 10px;
}