.AdminFAQ {
    display: flex;
}

.quan-ly-faq {
    font-size: 500px;
}

.admin-content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;

}

.admin-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-content .message {
    margin: 20px 0;
    padding: 15px;
    background-color: #e6ffed;
    border: 1px solid #b7eb8f;
    color: #389e0d;
    border-radius: 4px;
    font-size: 16px;
}



.admin-content .ant-table-wrapper {
    margin-top: 30px;
}

.admin-content .ant-btn {
    margin-right: 15px;
}

.admin-content .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
}

.admin-content .ant-btn-danger {
    background-color: #ff4d4f;
    border-color: #ff4d4f;
}

.ant-modal-title {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
}

.ant-form-item {
    margin-bottom: 20px;
}

.ant-form-item-label>label {
    font-size: 16px;
    color: #333333;
}

.ant-input,
.ant-input-textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

.ant-btn-primary {
    background-color: #52c41a;
    border-color: #52c41a;
    font-size: 16px;
    height: 40px;
}

.ant-modal-footer {
    display: none;
}