.admin-content {
  /* width: 100%; */
  margin-top: 3%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-content h1 {
  font-weight: bold;
  margin-bottom: 2%;
}
.admin-content label {
  width: 200px;
}

.admin-content input {
  width: 300px;
}

.label-form label {
  width: 200px;
}

.label-form input {
  width: 100%;
}

.admin-add-button {
  margin-bottom: 3%;
}

.admin-add-button button {
  margin-left: 10vh;
  margin-right: 10vh;
}
