.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.container {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Col8 {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.order-item-details h5 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #343a40;
}

.order-item-details p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #6c757d;
}

.order-item input.form-control {
  width: 60px;
  text-align: center;
}

button.btn-danger {
  margin-left: auto;
}

.card-header h4 {
  margin-bottom: 0;
  color: #343a40;
}

.card-body h5 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #343a40;
}

button.btn-success {
  font-size: 18px;
}
