.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.container {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 
.Col8 {
  margin-bottom: 20px;
  margin-left: 0px;
} */
.Col8.col-md-8 {
  width: 53%;
  margin-left: 5%;
  margin-right: 61px;
}

/* .col-md-8{
  width: 55%;
} */

.order-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.order-item-details h5 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #343a40;
  margin-right: -30%;
}

.order-item-details p {
  margin-bottom: 5px;
  font-size: 16px;
  color: #6c757d;
}

.order-item input.form-control {
  width: 60px;
  text-align: center;
}

button.btn-danger {
  margin-left: auto;
}

.card-header h4 {
  margin-bottom: 0;
  color: #343a40;
}

h4 {
  margin-top: 20px;
}

.checkout-page h4 {
  color: #38a9b8;
  margin-top: 20px;
  font-weight: bold;
}

.form-check-label {
  color: #333333;
  font-weight: bold;
}

.form-label {
  color: #333333;
  font-weight: bold;
  font-size: larger;
}

.card-body h5 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #343a40;
}

/* button.btn-success {
  font-size: 18px;
} */

.form-check-label[for="formDeliveryTime-time1"],
.form-check-label[for="formDeliveryTime-time2"] {
  font-weight: normal;
}

.time2 {
  margin-left: -30px;
}

.time3 {
  margin-left: -69px;
}

.box {
  display: grid;
  flex-direction: column;
  gap: 5px;

  grid-template-columns: 1fr 1fr 1fr;
}

.box div label {
  white-space: nowrap;
}

.box > div {
  display: flex;
  align-items: center;
}

i {
  font-size: 12px;
}

.order-btn {
  margin-top: 35px;
  text-align: center;
}

.order-btn p {
  margin-top: 5px;
  font-style: italic;
  /* font-weight: bold; */
}

/* Trong file CSS của bạn hoặc thẻ <style> nếu sử dụng CSS inline */
.order-btn button {
  background-color: #38a9b8;
  border-color: #38a9b8;
  font-size: 18px;
  padding: 10px 20px;
  height: 55px;
  width: 12%;
  font-weight: bold;
}
