.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 100px; */
}

.Login-logo img {
  width: 10%;
}

.MuiPaper-root {
  background-color: #e8e8e8 !important;
}

.button-setGray {
  background-color: #747474 !important;
  border-radius: 10rem !important;
  font-size: larger !important;
  font-weight: bold !important;
}

.title {
  font-weight: bold !important;
}

.Comeback {
  /* text-align: start !important; */
  margin-left: 5% !important;
  margin-top: 5% !important;
  display: flex;
  justify-content: center;
  font-size: larger;
  gap: 0 10px;
  color: black;
}

.Comeback:hover {
  text-decoration: none;
  color: black;
}
