.sidenav {
  height: 100%;
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #202531;

  overflow-x: hidden;
}

.sidenav a {
  width: 100%;
  padding: 2%;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #e2e3e4;
  display: block;
  padding: 3%;
}

.sidenav a:hover {
  color: #e2e3e4;
}

.sidenav li {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
  list-style: none;
}

.sidenav li:hover {
  background-color: #2a2a36;
}

.sidenav h1 {
  font-weight: bold;
  color: #e2e3e4;
  padding: 5%;
  text-align: center;
  font-size: 25px;
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.sidenav-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidenav img {
  width: 100px;
}

.sidenav-header {
  color: #e2e3e4;
  font-weight: bold;
  font-size: 25px;
}

.admin-button-logout {
  width: 100%;
}

.admin-button-logout {
  width: 100%;
}
