.admin-content {
  /* width: 100%; */
  margin-top: 3%;
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-content h1 {
  font-weight: bold;
  margin-bottom: 2%;
}
.admin-content label {
  width: 200px;
}

.admin-content input {
  width: 300px;
}
